.contador {

    width: fit-content;
    background-color: rgb(227, 143, 33);
    margin: auto;
    padding: 1em;
    text-align: center;
    border-radius: 2px 5px 5px 2px;
    border: 2px solid #fff;
    transition: all 1s;
}

.contador:hover{
    background-color: #fff;
    border: 2px double #000;
    border-radius: 2px 5px 5px 2px;
}


.add-button{
    background-color: #daa520;
    border: 2px double #000;
    border-radius: 8px;
    padding: .3em;
    transition: all 1s;
}

.add-button:hover{
    background-color: rgb(227, 143, 33);
    border: 2px double #fff;
    border-radius: 8px;
    
}

.count-button{
    background-color: rgb(227, 143, 33);
    border: none;
    border-radius: 8px;
    margin: .5em;
    transition: all 1s; 
    font-size: 1.5em;
}

.count-button:hover{
    background-color: #daa520;
    border: none;
    border-radius: 8px;
    
}

