


.detail{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__image{
    width: 100%;
}

.content{
    width: 100%;
}

.item-count{
    display: flex;
}

.detail__title , .detail__p{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    
}

.dp {
    font-size: 1.5em;
    font-family: 'Jost', sans-serif;
}

.contenedor-item{
    margin: 2em;
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px double #000;
    background-color: rgb(227, 143, 33);
    
}
.contenedor-catalogo{
    display: block;
}


.item-info-p{
    color: #000;
    margin: 1em;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.item-img{

    width: 100vh;
}

.link{
    text-decoration: none;
}

.detail__link{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 2em;
    transition: all 1s;
}

.detail__link:hover{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(242, 161, 9);
    font-size: 2em;
}